.headerLine{
	color:black;
}

.footerLine{
	color:grey;
}

.headerLinks{
	border-spacing:10px;
}

.footerAddress{
	text-align:center;
}

.titleName {
	font-family: blambotComics;
}

@font-face {
	font-family: blambotComics;
	src: url(deathrattlebb_reg.ttf);
	font-weight: bold;