.headerLine{
	color:black;
}

.footerLine{
	color:grey;
}

.headerLinks{
	border-spacing:10px;
}

.footerAddress{
	text-align:center;
}

.titleName {
	font-family: blambotComics;
}

@font-face {
	font-family: blambotComics;
	src: url(deathrattlebb_reg.ttf);
	font-weight: bold;
}

	a:link {
		color: blue;
	}
		
	a:visited {
		color: brown;
	}
		
	a:hover {
		font-weight: bold;
	}
	
	a:active {
		text-decoration: none;
	}
		

