 a {
	 font-family: monospace;
	 text-decoration: none;
	 font-weight: none;
	 
 }
 
 a:link {
		
	}
a:visited {
		
}

 a:hover {
		color: green;
		background-color: yellow;
		text-decoration: underline;
	 }

a:active {
		
}
	 
tr:hover {
		background-color: black;
		color: white;
		text-shadow: 2px 2px red;
}

td:hover {
		font-size:150%;
		
}